<!DOCTYPE html>
<html>
	<head>
		<title>Вопросы</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<div class="question-list">
			<h4 class="question-list-title">
				Заголовок вопроса
			</h4>
			<p class="question-list-text">
				Текст вопроса распространяюшийся на несколько строк, по возможности очень длинный текст. Так что должно получиться несколько строк.
			</p>
			<a class="question-list-a" href="">Посмотреть</a>
		</div>
		
		<div class="question-list">
			<h4 class="question-list-title">
				Заголовок вопроса
			</h4>
			<p class="question-list-text">
				Текст вопроса распространяюшийся на несколько строк, по возможности очень длинный текст. Так что должно получиться несколько строк.
			</p>
			<a class="question-list-a" href="">Посмотреть</a>
		</div>
		
		<div class="question-list">
			<h4 class="question-list-title">
				Заголовок вопроса
			</h4>
			<p class="question-list-text">
				Текст вопроса распространяюшийся на несколько строк, по возможности очень длинный текст. Так что должно получиться несколько строк.
			</p>
			<a class="question-list-a" href="">Посмотреть</a>
		</div>
		
		<div class="page-number">
		</div>
	</body>
</html>
